<div class="jumbotron container">
  <div class="page-header"><h2>Contact Me @</h2></div>
  <div class="has-below">
  <h2 class="bold"><a href="mailto:souman.121@gmail.com" target="_top">souman.121@gmail.com</a></h2>
  </div>
</div>