<div class="container xyz">
  <div class="starter-template">
    <h2 id="header-text" class="text-center">Loading images...</h2>
    <div class="row row-sample hide">
      <h3 class="text-center">Click on the correct position of the image</h3>
      <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
        <div class="abc"><img class="sample_image" ></div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img1" data-index="1"><div id="test" class="dummy_image hide"></div><img class="original_image" ></div></div>
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img2" data-index="2"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img3" data-index="3"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img4" data-index="4"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img5" data-index="5"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img6" data-index="6"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img7" data-index="7"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img8" data-index="8"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
    <div class="col-md-4 col-xs-4"><div class="abc" id="flipped-img9" data-index="9"><div class="dummy_image hide"></div><img class="original_image" ></div></div>
  </div>
  <div class="dummy_container hide" data-foo=""></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript">
  var currentIndex = 0;
  var alreadyFound = [];
  var statDate;
  var endDate;
  var hideOriginal = function(){
    jQuery(".original_image").addClass("hide");
    jQuery(".dummy_image").removeClass("hide");
  };
  var setCountDn = function(){
    jQuery("#header-text").html("You have <span id='counter' class='red'>15</span> seconds to remember the images");
    countdown(15);
  };

  jQuery(".dummy_image").on('click', function(){
    var imgIndex = jQuery(this).parent().data("index");
    if(imgIndex == currentIndex){
      jQuery(this).parent().find(".original_image").removeClass("hide");
      jQuery(this).addClass("hide");
      showSample();
    }
  });

  jQuery( document ).ready(function() {
    jQuery.ajax({
      url: "<%= fetch_pictures_path %>",
      type: "GET",
      complete: function(){
        setCountDn();
        setTimeout(hideOriginal, 15000);
      }
    });
    jQuery(".original_image").height(jQuery(jQuery(".original_image")[0]).width());
    jQuery(".dummy_image").height(jQuery(jQuery(".dummy_image")[0]).width());
    jQuery(".sample_image").height(jQuery(jQuery(".sample_image")[0]).width());
  });

  var countdown = function(seconds) {
    function tick() {
        //This script expects an element with an ID = "counter". You can change that to what ever you want. 
        var counter = document.getElementById("counter");
        counter.innerHTML = String(seconds);
        seconds--;
        if( seconds >= 0 ) {
            setTimeout(tick, 1000);
        }
        else{
          jQuery(".row-sample").removeClass("hide");
          jQuery("#header-text").addClass("hide");
          showSample();
          statDate = new Date().getTime();
        }
    }
    tick();
  }

  var showSample = function(){
    if (alreadyFound.length == 9){
      endDate = new Date().getTime();
      var timeDiff = (endDate - statDate)/1000;
      alert("Congrats!!! You have found all the images in "+timeDiff+" seconds. Click Ok to start a fresh game");
      location.reload();
      return;
    }
    while (1) {
     currentIndex = Math.floor(Math.random() * 9) + 1;
     if(jQuery.inArray(currentIndex, alreadyFound) == -1){
      alreadyFound.push(currentIndex);
      break;
     }
    }
    jQuery(".row-sample img").attr("src", js_array[0][currentIndex]);
  }
</script>